<mat-card class="about">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Supermarket</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://images.unsplash.com/photo-1542838132-92c53300491e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=667&q=80" alt="Supermarket.pic">
      <mat-card-content>
        <p>
          Come buy the best quality products and good prices on your computer and with short shipping!
          Our products are chosen for their high quality and supervision with a concern for the health of our customers.
        </p>
      </mat-card-content>

</mat-card>

