ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 5%;
  left: 30%;
}

li {
  display: inline-block;
  margin: 20px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
li:hover {
  text-decoration: underline;
}

li:active {
  text-decoration: underline;
}

.product-card {
  display: inline-block;
  width: 15vw;
  border: solid 2px rgb(36, 36, 83);
  text-align: center;
  left: 35%;
  min-width: 200px;
  max-width: 400px;
  padding: 3px;
}

.card {
  top: 30%;
  position: absolute;
  left: 15%;
  right: 25%;
}
.product-img {
  width: 70%;
  height: 60%;
}
.product-list-categories {
  cursor: pointer;
}
